.name{
    font-size: 30px;
}
/* time */
.time{
    font-size: 20px;
    display: flex;
    margin: 0 0 0 15px;
}
.time p{
    margin: 0 10px 0 5px;
}
.time .ver-line{
    height: 30px;
    border: 1px solid black;
    margin: 0 10px 0 0;
}
.time .time-format{
    color: red;
    margin-left: 10px;
}
.hor-line{
    width: 80%;
    border: 1px solid black;
    
}
/* current bid */
.price-bid{
    margin: 0 0 0 0;
}
.price-bid p{
    font-size: 20px;
}
/* info */
.description{
    font-size: 22px;
}
.info{
    margin: 5px 0 0 0;
    font-size: 16px;
}
.info ul{
    list-style-type: circle;
}
/* btn */
.btn{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin: 10px 0 0 0;
}

.btn button{
    width: 150px;
    height: 50px;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}